.forgotPassword {
  max-width: 1320px;
}

.forgotPassword .btn {
  width: initial;
}

.forgotPassword .image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  -moz-object-fit: cover;
  -ms-object-fit: cover;
}

.forgotPassword .body {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  right: 0px;
}

.forgotPassword .body .navigation {
  width: 80%;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
}

.forgotPassword .form {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50%;
  border: none;
  height: 100vh;
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
}

.forgotPassword .form-body {
  flex: none;
  width: 80%;
  margin: auto 0;
  max-width: 350px;
}

.forgotPassword .position-relative img {
  position: absolute;
  width: 100%;
  height: 100vh;
}

@media (max-width: 720px) {
  .forgotPassword .position-relative {
    display: none;
  }

  .forgotPassword .body .navigation {
    width: 90%;
  }

  .forgotPassword .form {
    position: static;
    height: auto;
    margin: 1em auto 0;
    width: 90%;
  }

  .forgotPassword .form-body {
    padding: 0px;
  }
}
