.pricing .navigation {
  width: 80%;
  margin: 0 auto;
  max-width: 1320px;
}

.pricing .navigation a {
  font-weight: 600;
}

.pricing .page-body {
  width: 80%;
  margin: 0 auto;
  max-width: 1320px;
}

.pricing .page-info {
  width: 80%;
  margin-top: 5rem;
}

.pricing .page-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0px auto 2rem auto;
}

.pricing .pricing-container {
  padding: 2.5rem 3rem;
  margin: 0px 0px 2rem 0px;
  max-width: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pricing .fw-600 {
  font-weight: 600;
}

.pricing .price-info {
  width: 30%;
}

.pricing .list {
  list-style: none;
  width: 18%;
  margin: 0px;
}

.pricing .btn-container {
  width: 15%;
}

.pricing .view-details {
  display: none;
}

@media (max-width: 720px) {
  .pricing .navigation {
    margin-top: 0.5em;
  }

  .pricing .page-info {
    width: 100%;
  }

  .pricing .pricing-container {
    flex-direction: column;
    padding: 1.5rem 2rem;
  }

  .pricing .price-info {
    width: 100%;
  }

  .pricing .list {
    display: none;
  }

  .pricing .btn-container {
    margin-top: 2rem;
    width: 75%;
  }

  .pricing .view-details {
    display: block;
    margin-top: 1rem;
    color: #595959;
  }
}
