<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Button Toolbar</title>
    <link rel="stylesheet" href="../contrast-bootstrap-pro/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../contrast-bootstrap-pro/css/cdb.css"/>
    <script src="../contrast-bootstrap-pro/js/bootstrap.min.js"></script>
    <script src="../contrast-bootstrap-pro/js/cdb.js"></script>
    <script src="https://kit.fontawesome.com/9d1d9a82d2.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="d-flex">
      <div style="height:100vh;">
          <div class="sidebar" role="cdb-sidebar">
            <div class="sidebar-container" style="height:100%; overflow-y:auto;">
              <div class="sidebar-header align-items-center">
                <a class="sidebar-toggler mb-1"><i class="fa fa-bars"></i></a>
                <a class="sidebar-brand" href="/">Contrast</a>
              </div>
  
              <div class="sidebar-nav">
                <div class="sidenav">
                  <div class="sidebar-dropdown">
                    <div
                      class="sidebar-item"
                      data-toggle="collapse"
                      data-target="#collapseOne"
                      aria-expanded="true"
                      aria-controls="collapseOne"
                    >
                      <i class="fa fa-columns sidebar-icon"></i>
                      <span>Dashboards</span>
                      <i class="fa fa-angle-right arrow-wrapper ml-auto"></i>
                    </div>
                    <div class="sidebar-sub-menu collapse" id="collapseOne">
                      <a href="../pages/dashboard.html" class="sub-menu-item">Dashboard</a>
                    </div>
                  </div>
                  <div class="sidebar-dropdown">
                    <div
                      class="sidebar-item"
                      data-toggle="collapse"
                      data-target="#collapseThree"
                      aria-expanded="true"
                      aria-controls="collapseThree"
                    >
                      <i class="fa fa-paper-plane sidebar-icon"></i>
                      <span>Hero</span>
                      <i class="fa fa-angle-right arrow-wrapper ml-auto"></i>
                    </div>
                    <div class="sidebar-sub-menu collapse" id="collapseThree">
                      <a target="_blank" href="../pages/hero4.html" class="sub-menu-item">Hero 4</a>
                      <a target="_blank" href="../pages/hero5.html" class="sub-menu-item">Hero 5</a>
                    </div>
                  </div>
                  <div class="sidebar-dropdown">
                    <div
                      class="sidebar-item"
                      data-toggle="collapse"
                      data-target="#collapseFour"
                      aria-expanded="true"
                      aria-controls="collapseFour"
                    >
                      <i class="fa fa-sign-in sidebar-icon"></i>
                      <span>Forms</span>
                      <i class="fa fa-angle-right arrow-wrapper ml-auto"></i>
                    </div>
                    <div class="sidebar-sub-menu collapse" id="collapseFour">
                      <a target="_blank" href="../pages/create-account.html" class="sub-menu-item">Create Account</a>
                      <a target="_blank" href="../pages/forgot-password2.html" class="sub-menu-item">Forgot Password 2</a>
                      <a target="_blank" href="../pages/signin3.html" class="sub-menu-item">Sign In</a>
                    </div>
                  </div>
                </div>
                <div class="sidenav">
                  <a href="../pages/table.html" class="sidebar-item">
                    <i class="fa fa-table sidebar-icon"></i>
                    <span>Tables</span>
                  </a>
                  <a href="../pages/profile.html" class="sidebar-item">
                    <i class="fa fa-user sidebar-icon"></i>
                    <span>Profile</span>
                  </a>
                  <a target="_blank" href="../pages/hero404.html" class="sidebar-item">
                    <i class="fa fa-exclamation-circle sidebar-icon"></i>
                    <span>404 Page</span>
                  </a>
                  <a target="_blank" href="../pages/pricing.html" class="sidebar-item">
                    <i class="fa fa-money sidebar-icon"></i>
                    <span>Pricing</span>
                  </a>
                  <a target="_blank" href="../pages/post.html" class="sidebar-item">
                    <i class="fa fa-rss-square sidebar-icon"></i>
                    <span>Post</span>
                  </a>
                </div>
                <div class="sidenav">
                  <div class="sidebar-dropdown">
                    <div
                      class="sidebar-item"
                      data-toggle="collapse"
                      data-target="#collapseFive"
                      aria-expanded="true"
                      aria-controls="collapseFive"
                    >
                      <i class="fas fa-cogs sidebar-icon"></i>
                      <span>Components</span>
                      <i class="fa fa-angle-right arrow-wrapper ml-auto"></i>
                    </div>
                    <div class="sidebar-sub-menu collapse" id="collapseFive">
                      <a href="./accordion.html" class="sub-menu-item">
                        <i class="fa fa-th-large sidebar-icon"></i>
                        <span class="text-capitalize">accordion</span>
                      </a>
                      <a href="./animation.html" class="sub-menu-item">
                        <i class="fa fa-radiation fa-spin sidebar-icon"></i>
                        <span class="text-capitalize">animation</span>
                      </a>
                      <a href="./box.html" class="sub-menu-item">
                        <i class="fa fa-box sidebar-icon"></i>
                        <span class="text-capitalize">box</span>
                      </a>
                      <a href="./card.html" class="sub-menu-item">
                        <i class="fa fa-id-card sidebar-icon"></i>
                        <span class="text-capitalize">card</span>
                      </a>
                      <a href="./carousel.html" class="sub-menu-item">
                        <i class="fa fa-sliders-h sidebar-icon"></i>
                        <span class="text-capitalize">carousel</span>
                      </a>
                      <a href="./close-button.html" class="sub-menu-item">
                        <i class="fa fa-close sidebar-icon"></i>
                        <span class="text-capitalize">close-button</span>
                      </a>
                      <a href="./collapse.html" class="sub-menu-item">
                        <i class="fa fa-caret-down sidebar-icon"></i>
                        <span class="text-capitalize">collapse</span>
                      </a>
                      <a href="./dropdown.html" class="sub-menu-item">
                        <i class="fa fa-caret-down sidebar-icon"></i>
                        <span class="text-capitalize">dropdown</span>
                      </a>
                      <a href="./iframe.html" class="sub-menu-item">
                        <i class="fa fa-crop sidebar-icon"></i>
                        <span class="text-capitalize">iframe</span>
                      </a>
                      <a href="./list-group.html" class="sub-menu-item">
                        <i class="fa fa-list sidebar-icon"></i>
                        <span class="text-capitalize">list-group</span>
                      </a>
                      <a href="./mask.html" class="sub-menu-item">
                        <i class="fa fa-mask sidebar-icon"></i>
                        <span class="text-capitalize">mask</span>
                      </a>
                      <a href="./popovers.html" class="sub-menu-item">
                        <i class="fa fa-dot-circle sidebar-icon"></i>
                        <span class="text-capitalize">popovers</span>
                      </a>
                      <a href="./rating.html" class="sub-menu-item">
                        <i class="fa fa-star sidebar-icon"></i>
                        <span class="text-capitalize">rating</span>
                      </a>
                    </div>
                  </div>
                  <div class="sidebar-dropdown">
                    <div
                      class="sidebar-item"
                      data-toggle="collapse"
                      data-target="#collapseEleven"
                      aria-expanded="true"
                      aria-controls="collapseEleven"
                    >
                      <i class="fas fa-flag-checkered sidebar-icon"></i>
                      <span>Notification</span>
                      <i class="fa fa-angle-right arrow-wrapper ml-auto"></i>
                    </div>
                    <div class="sidebar-sub-menu collapse" id="collapseEleven">
                      <a href="./alert.html" class="sub-menu-item">
                        <i class="fa fa-user-clock sidebar-icon"></i>
                        <span class="text-capitalize">alert</span>
                      </a>
                      <a href="./modal.html" class="sub-menu-item">
                        <i class="fa fa-medal sidebar-icon"></i>
                        <span class="text-capitalize">modal</span>
                      </a>
                    </div>
                  </div>
                  <div class="sidebar-dropdown">
                    <div
                      class="sidebar-item"
                      data-toggle="collapse"
                      data-target="#collapseTwelve"
                      aria-expanded="true"
                      aria-controls="collapseTwelve"
                    >
                      <i class="fas fa-spinner sidebar-icon"></i>
                      <span>Progress</span>
                      <i class="fa fa-angle-right arrow-wrapper ml-auto"></i>
                    </div>
                    <div class="sidebar-sub-menu collapse" id="collapseTwelve">
                      <a href="./progress.html" class="sub-menu-item">
                        <i class="fa fa-spinner sidebar-icon"></i>
                        <span class="text-capitalize">progress</span>
                      </a>
                      <a href="./slider.html" class="sub-menu-item">
                        <i class="fa fa-sliders-h sidebar-icon"></i>
                        <span class="text-capitalize">slider</span>
                      </a>
                      <a href="./spinner.html" class="sub-menu-item">
                        <i class="fa fa-spinner fa-spin sidebar-icon"></i>
                        <span class="text-capitalize">spinner</span>
                      </a>
                    </div>
                  </div>
                  <div class="sidebar-dropdown">
                    <div
                      class="sidebar-item"
                      data-toggle="collapse"
                      data-target="#collapseNine"
                      aria-expanded="true"
                      aria-controls="collapseNine"
                    >
                      <i class="fas fa-mouse sidebar-icon"></i>
                      <span>Buttons</span>
                      <i class="fa fa-angle-right arrow-wrapper ml-auto"></i>
                    </div>
                    <div class="sidebar-sub-menu collapse" id="collapseNine">
                      <a href="./badge.html" class="sub-menu-item">
                        <i class="fa fa-certificate sidebar-icon"></i>
                        <span class="text-capitalize">badge</span>
                      </a>
                      <a href="./button-group.html" class="sub-menu-item">
                        <i class="fa fa-mouse sidebar-icon"></i>
                        <span class="text-capitalize">button-group</span>
                      </a>
                      <a href="./button-toolbar.html" class="sub-menu-item">
                        <i class="fa fa-mouse sidebar-icon"></i>
                        <span class="text-capitalize">button-toolbar</span>
                      </a>
                      <a href="./button.html" class="sub-menu-item">
                        <i class="fa fa-mouse sidebar-icon"></i>
                        <span class="text-capitalize">button</span>
                      </a>
                    </div>
                  </div>
                  <div class="sidebar-dropdown">
                    <div
                      class="sidebar-item"
                      data-toggle="collapse"
                      data-target="#collapseTen"
                      aria-expanded="true"
                      aria-controls="collapseTen"
                    >
                      <i class="fa fa-sign-in sidebar-icon"></i>
                      <span>Forms</span>
                      <i class="fa fa-angle-right arrow-wrapper ml-auto"></i>
                    </div>
                    <div class="sidebar-sub-menu collapse" id="collapseTen">
                      <a href="./forms.html" class="sub-menu-item">
                        <i class="fa fa-sign-in sidebar-icon"></i>
                        <span class="text-capitalize">forms</span>
                      </a>
                      <a href="./input.html" class="sub-menu-item">
                        <i class="fa fa-keyboard sidebar-icon"></i>
                        <span class="text-capitalize">input</span>
                      </a>
                      <a href="./inputgroup.html" class="sub-menu-item">
                        <i class="fa fa-keyboard sidebar-icon"></i>
                        <span class="text-capitalize">inputgroup</span>
                      </a>
                      <a href="./select.html" class="sub-menu-item">
                        <i class="fa fa-mouse-pointer sidebar-icon"></i>
                        <span class="text-capitalize">select</span>
                      </a>
                      <a href="./switch.html" class="sub-menu-item">
                        <i class="fa fa-toggle-on sidebar-icon"></i>
                        <span class="text-capitalize">switch</span>
                      </a>
                    </div>
                  </div>
                  <div class="sidebar-dropdown">
                    <div
                      class="sidebar-item"
                      data-toggle="collapse"
                      data-target="#collapseSix"
                      aria-expanded="true"
                      aria-controls="collapseSix"
                    >
                      <i class="fas fa-directions sidebar-icon"></i>
                      <span>Navigation</span>
                      <i class="fa fa-angle-right arrow-wrapper ml-auto"></i>
                    </div>
                    <div class="sidebar-sub-menu collapse" id="collapseSix">
                      <a href="./breadcrumb.html" class="sub-menu-item">
                        <i class="fa fa-route sidebar-icon"></i>
                        <span class="text-capitalize">breadcrumb</span>
                      </a>
                      <a href="./footer.html" class="sub-menu-item">
                        <i class="fa fa-shoe-prints sidebar-icon"></i>
                        <span class="text-capitalize">footers</span>
                      </a>
                      <a href="./navbar.html" class="sub-menu-item">
                        <i class="fa fa-directions sidebar-icon"></i>
                        <span class="text-capitalize">navbar</span>
                      </a>
                      <a href="./pagination.html" class="sub-menu-item">
                        <i class="fa fa-map sidebar-icon"></i>
                        <span class="text-capitalize">pagination</span>
                      </a>
                      <a href="./sidebar.html" class="sub-menu-item">
                        <i class="fa fa-columns sidebar-icon"></i>
                        <span class="text-capitalize">sidebar</span>
                      </a>
                    </div>
                  </div>
                  <div class="sidebar-dropdown">
                    <div
                      class="sidebar-item"
                      data-toggle="collapse"
                      data-target="#collapseSeven"
                      aria-expanded="true"
                      aria-controls="collapseSeven"
                    >
                      <i class="fas fa-table sidebar-icon"></i>
                      <span>Table</span>
                      <i class="fa fa-angle-right arrow-wrapper ml-auto"></i>
                    </div>
                    <div class="sidebar-sub-menu collapse" id="collapseSeven">
                      <a href="./chart.html" class="sub-menu-item">
                        <i class="fa fa-chart-bar sidebar-icon"></i>
                        <span class="text-capitalize">chart</span>
                      </a>
                      <a href="./datatable.html" class="sub-menu-item">
                        <i class="fa fa-table sidebar-icon"></i>
                        <span class="text-capitalize">datatables</span>
                      </a>
                      <a href="./table.html" class="sub-menu-item">
                        <i class="fa fa-table sidebar-icon"></i>
                        <span class="text-capitalize">table</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="sidebar-footer">Sidebar Footer</div>
            </div>
          </div>
      </div>

      <div class="w-100" style="height:100vh; overflow-y:scroll; background:#ecebeb">
        
        <div class="shadow">
          <header class="db-header">
            <nav class="d-flex justify-content-between align-items-center px-3 py-2">
              <div class="cdb-form mb-0">
                <input type="search" placeholder="Search" class="input-nav"/>
              </div>
              <div class="ml-auto d-flex align-items-center">
                <div class="d-flex align-items-center mr-3">
                  <i class="fas fa-bell mr-3 fa-lg"></i>
                  <i class="fas fa-comment-alt fa-lg"></i>
                </div>
                <img class="pane-sm" src="../img/pane/pane4.png" />
              </div>
            </nav>
          </header>
          
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-flat py-3 bg-white">
              <li class="breadcrumb-item">Home</li>
              <li class="breadcrumb-item">Library</li>
              <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
          </nav>
        </div>
        <div class="mx-auto r-w">
          <div class="container-buttons">
            <div class="blockcode">
              <div class="header">Default Button Toolbar</div>
              <div class="description"></div>
              <div class="example p-0">
                <div
                  class="btn-toolbar"
                  role="toolbar"
                  aria-label="Toolbar with button groups"
                >
                  <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-primary">1</button>
                    <button type="button" class="btn btn-primary">2</button>
                    <button type="button" class="btn btn-primary">3</button>
                    <button type="button" class="btn btn-primary">4</button>
                  </div>
                  <div class="btn-group mr-2" role="group" aria-label="Second group">
                    <button type="button" class="btn btn-secondary">5</button>
                    <button type="button" class="btn btn-secondary">6</button>
                    <button type="button" class="btn btn-secondary">7</button>
                  </div>
                  <div class="btn-group" role="group" aria-label="Third group">
                    <button type="button" class="btn btn-info">8</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      const sidebar = document.querySelector('.sidebar');
      new CDB.Sidebar(sidebar);
    </script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
  </body>
</html>
